
@import '../../index.css';

.container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    gap: 1rem;
}

.navbar a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    color: var(--patone-green);
    background-color: var(--tea-green);
    border-radius: 1rem;
    border: 1px solid var(--patone-green);
    padding: 0 2rem;
}

.navbar a:hover {
    box-shadow: 0 0 0.1rem 0.1rem var(--light-green);
    background-color: var(--chinese-white);
}