
.container {
    margin: 0 4rem;
}

.title {
    text-transform: capitalize;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.details {
    display: flex;
    gap: 2rem;
}