
@import '../../index.css';

.container {
    margin: 0 4rem;
}

.head {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.img {
    height: 20rem;
    width: 25%;
}

.image_link img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 70%;
    padding: 0.5rem;
}

.star {
    display: flex;
    justify-content: center;
    padding: 0 0 2rem;
}

.basic {
    width: 30%;
}

.des {
    width: 40%;
}