
@import '../../index.css';

.header {
    display: flex;
    gap: 2rem;
}

.favIcon {
    position: relative;
    top: 2rem;
    animation: beat 1.5s infinite ease;
}

@keyframes beat {
    0% {
        color: var(--UFO-green);
    }
    50% {
        color: var(--patone-green);
    }
    100% {
        color: var(--UFO-green);
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 2rem 0;
}

.list {
    display: flex;
    flex-direction: column;
    flex: 3;
    border: 1px solid var(--patone-green);
    border-radius: 1rem;
    background-color: var(--alabaster);
    padding: 1rem;
}

.list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-green);
    padding: 1rem;
}

.list li:last-child {
    border: none;
}

.list li img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--light-green);
}

.image {
    flex: 1;
}

.name {
    flex: 2;
}

.name a {
    color: var(--patone-green);
}

.quantitySelector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
  
.quantityButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
    color: var(--patone-green);
    background-color: var(--honeydew2);
}

.quantityButton:hover {
    background-color: var(--chinese-white);
}

.quantityInput {
    width: 4rem;
    height: 1.5rem;
    text-align: center;
    color: var(--patone-green);
    background-color: var(--honeydew2);
    border: 1px solid var(--patone-green);
    border-radius: 2rem;
    outline: none;
}

.productPrice {
    flex: 1;
    text-align: right;
    margin-left: 1rem;
    color: var(--patone-green);
}

.remove {
    flex: 1;
    text-align: right;
}

.remove_btn {
    color: var(--patone-green);
    background-color: var(--honeydew2);
    border: 1px solid var(--patone-green);
    border-radius: 0.5rem;
    padding-top: 0.2rem;
}

.remove_btn:hover {
    background-color: var(--chinese-white);
    cursor: pointer;
}

.checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border: 1px solid var(--patone-green);
    border-radius: 1rem;
    background-color: var(--linen);
    color: var(--patone-green);
    margin: 1rem 0.5rem;
    padding: 1rem 2rem;
}

.checkout .count::before {
    content: 'Tổng sản phẩm: ';
}

.checkout .price::before {
    content: 'Tổng tiền: ';
}

.checkout a {
    border-radius: 1rem;
    text-align: center;
    color: var(--patone-green);
    background-color: var(--bubbles);
    border: 1px solid var(--patone-green);
    padding: 0.5rem 1rem;
}

.checkout a:hover {
    background-color: var(--chinese-white);
    cursor: pointer;
}

.click {
    background-color: var(--Aquamarine);
}