@import '../../index.css';

.container {
  display: flex;
  width: 100%;
  padding: 2rem 1rem;
  background: var(--linen);
}
  
.mainContent {
  width: 85%;
}

.navbar {
  display: block;
  margin: 0 0 1.5rem 3rem;
}
  
.navbar span {
  border-radius: 2rem;
  border: 1px solid var(--forest-green);
  color: var(--forest-green);
  background: var(--chinese-white);
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  margin: 0 1rem 0 0;
}

.navbar span:hover,
.navbar .activeView {
  color: var(--forest-green);
  background: var(--Aquamarine);
  border: 1px solid var(--forest-green);
}
  
.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 0.2fr));
  gap: 0.8rem;
}

.product {
  border-radius: 0.2rem;
  border: 1px solid var(--patone-green);
  background-color: var(--honeydew1);

  display: flex;
  flex-direction: column;
}

.product:hover {
  box-shadow: 0.025rem 0.025rem 0.1rem var(--forest-green, 0.8),
             -0.025rem -0.025rem 0.1rem var(--forest-green, 0.8);
}

.link {
  outline: none;
}

.image {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  margin: 0.2rem 0 0.15rem 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--lavender);
}

.name {
  margin: 0 0.4rem;
  text-transform: capitalize;
  color: green;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.2rem;
}

.price {
  margin: 0 0.4rem;
  color: var(--UFO-green);
  border-radius: 2rem;
}

.evaluation {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 0.4rem;
}

.favIcon {
  color: var(--UFO-green);
  cursor: pointer;
}

.fav {
  color: var(--pale-green);
}

.actions {}

.addToCart {
  border: none;
  border-radius: 50%;
  padding: 0.15rem;
  margin: 0 0 0.3rem 0.3rem;
  color: var(--forest-green);
  background-color: var(--forest-green);
  cursor: pointer;
}

.cartbtn {
  display: flex;
  align-items: center;
  background-color: var(--pale-green);
  padding: 4px;
  border: none;
  border-radius: 50%;
}

.addToCart:hover .cartbtn{
  background: none;
  color: var(--pale-green);
  transition: 500ms;
}