@import '../../index.css';

.container {
  display: flex;
  width: 100%;
  padding: 2rem 1rem;
  background: var(--old-lace);
}

.bubble {
  position: absolute;
  overflow: hidden;
  width: 1%;
  height: 2%;
  left: 50%;
  bottom: -50%;
  background: radial-gradient(circle, #4fc3dc, transparent);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  animation: bubbleMove 3s linear;
  opacity: 0.4;
}

@keyframes bubbleMove {
  0% {
      transform: translateY(20vh) scale(0.5);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: translateY(-140vh) scale(2);
      opacity: 0;
  }
}
  
.mainContent {
  width: 85%;
}
  
.navbar {
  display: block;
  margin: 0 0 1rem 2rem;
}
  
.navbar span {
  border-radius: 2rem;
  border: 1px solid var(--forest-green);
  color: var(--forest-green);
  background: var(--lime-green);
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  margin: 0 1rem 0 0;
}

.navbar span:hover,
.navbar .activeView {
  color: var(--lime-green);
  background: var(--forest-green);
  border: 1px solid var(--lime-green);
}
  
.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 0.2fr));
  gap: 0.8rem;
  margin: 0.2rem 0;
}

.product {
  border-radius: 0.2rem;
  background-color: white;
}

.product:hover {
  border: 0.1rem solid var(--lime-green);
  box-shadow: 0.025rem 0.025rem 0.1rem var(--forest-green, 0.8),
             -0.025rem -0.025rem 0.1rem var(--forest-green, 0.8);
}

.image {
  width: 10rem;
  margin: 0.2rem 0 0.15rem 0.21rem;
  border-radius: 0.2rem;
}

.product:hover .image {
  margin: 0.15rem;
}

.name {
  margin: 0 0.4rem;
  text-transform: capitalize;
  color: var(--forest-green);
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.2rem;
}

.price {
  margin: 0 0.4rem;
  color: var(--forest-green);
  border-radius: 2rem;
}

.evaluation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.4rem;
}

.favIcon {
  color: var(--forest-green);
  cursor: pointer;
}

.fav {
  color: var(--pale-green);
}

.actions {}

.addToCart {
  border: none;
  border-radius: 0.25rem;
  padding: 0.15rem;
  margin: 0 0 0.3rem 0.3rem;
  color: var(--forest-green);
  background-color: var(--forest-green);
}

.neonbbtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--pale-green);
  padding: 4px;
  border: none;
  border-radius: 2px;
  transition: 300ms;
}

.neonbbtn:hover {
  background: none;
  color: var(--pale-green);
}
  
  .stock {
    font-size: 0.9rem;
    color: #555;
    text-align: center;
    margin-top: 10px;
  }

  .notification {
    background-color: #4CAF50; /* Màu xanh lá cây cho thông báo thành công */
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    animation: fadeOut 3s forwards; /* Tạo hiệu ứng biến mất */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
