
@import '../../index.css';

.container {
    display: flex;
    justify-content: center;
}

.detail {
    width: 28rem;
}

.title {
    text-transform: capitalize;
}

.regis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    color: var(--forest-green);
}

.regis a {
    color: var(--UFO-green);
}

.regis a:hover {
    color: var(--patone-green);
}