
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem 6rem 2rem;
}

.content {
    width: 35rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.summary > div {
    display: flex;
    margin-top: 0.7rem;
}

.summary span {
    font-size: 1.2rem;
}

.summary h3 {
    margin-right: 1rem;
    flex-basis: 5rem;
}

.btn_container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}