
@import '../../index.css';

.container {
    background-color: var(--bubbles);
    border: 1px solid var(--patone-green);
    border-radius: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    max-height: 15rem;
}

.label {
    color: var(--patone-green);
    text-transform: capitalize;
    padding: 1rem;
}

.content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}