
.container {
    position: relative;
    width: 35rem;
    height: 22rem;
    text-align: center;
}

.map {
    width: 100% !important;
    height: 100% !important;
}

.findlocation {
    position: absolute;
    margin: auto;
    width: 12rem;
    min-height: 2.5rem;
    font-size: 1rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    cursor: pointer;
    border-radius: 0 0 1rem 1rem;
    border: none;
    border-top: 1px solid lightgray;
}

.findlocation:hover {
    background-color: whitesmoke;
}