@import '../../index.css';

.container {
    display: flex;
    flex-direction: column;
}

.container a {
    padding: 0.3rem 1rem;
    margin: 0.5rem 0.15rem;
    border-radius: 0.2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--forest-green);
    background: var(--lime-green);
    border: 1px solid var(--forest-green);
}

.container a:hover {
    color: var(--lime-green);
    background-color: var(--forest-green);
}