@import '../../index.css';

.container {
    display: flex;
    flex-direction: column;
}

.container a {
    padding: 0.3rem 1rem;
    margin: 0.5rem 0.15rem;
    border-radius: 0.2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-green);
    background: var(--pale-green);
}

.container a:hover {
    color: var(--pale-green);
    background-color: var(--dark-green);
}