@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root {
    --forest-green: #004b1a;
    --lime-green: #c4ff88;
    --mint-green: #c8e6c9;
    --pale-green: #98FB98;
    --patone-green: #1b5e20;
    
    --old-lace: #f9f2e6;
}

* {
    box-sizing: border-box;
    list-style: none;
}

html{
    font-size: 18px;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}