@import '../../index.css';

.header {
    padding: 0;
    background: var(--patone-green);
    border-bottom: 1px solid var(--Aquamarine);
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.header a {
    color: var(--patone-green);
    background-color: var(--tea-green);
    border: 1px solid var(--light-green);
}

.header a:hover {
    cursor: pointer;
    background-color: var(--chinese-white);
}

.container {
    margin: 0 2rem;
    padding: 0 0.32rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.logo {
    font-family: "Sevillana", system-ui;
    height: 2.2rem;
    padding: 0 0.2rem;
    align-content: center;
    border-radius: 10px;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.search input {
    width: 28rem;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    margin: 0 2rem;
    height: 2.4rem;
}

.header ul a {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.menu_container {
    position: relative;
}

.menu_container a {
    width: 5rem;
    text-align: center;
}

.menu_container:hover .menu {
    display: block;
}

.menu {
    position: absolute;
    z-index: 1;
    display: none;
}

.menu a {
    max-width: 7rem;
    min-width: 5rem;
    margin-top: 0.2rem;
    border: 1px solid var(--patone-green);
}

.menu a:first-child {
    margin-top: 0.7rem;
}

.menu a:hover {
    color: var(--patone-green);
    background-color: var(--chinese-white);
}

.cart {
    position: relative;
    padding-bottom: 0 !important;
    border-radius: 10%;
}

.cart_count {
    background-color: var(--old-lace);
    color: var(--patone-green);
    padding: 0.18rem 0.24rem;
    position: absolute;
    bottom: 1.2rem;
    left: 1.5rem;
    border-radius: 50%;
    font-size: 0.4rem;
}

.cart:hover .cart_count {
    color: var(--menthol);
    background-color: var(--patone-green);
}