
@import '../../index.css';

.container {
    display: flex;
    align-items: center;
    margin: 1rem 3rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    text-transform: capitalize;
    font-size: 1.4rem;
    margin: 1rem 0;
    color: green;
}

.image {
    border-radius: 3rem;
    object-fit: cover;
    height: 15rem;
}

.details {
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    padding: 1rem;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
}

.origins {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.origins > span {
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 0.5rem;
    margin-left: 0;
    border-radius: 2rem;
    background-color: aliceblue;
}

.tags {
    width: 5rem;
}

.price {
    font-size: 1.8rem;
    margin: 2rem;
    margin-left: 0;
    color: green;
}

.price::before {
    content: 'Price: ';
    color: darkgrey;
}

.addToCart {
    width: 10rem;
    border: none;
    border-radius: 2rem;
    padding: 0.15rem;
    margin: 0 0 0.3rem 0.3rem;
    color: var(--forest-green);
    background-color: var(--forest-green);
}

.neonbbtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--pale-green);
    margin: 0.2rem 0.4rem 0;
    padding: 4px;
    border: none;
    border-radius: 1rem;
    transition: 300ms;
}

.neonbbtn:hover {
    position: relative;
    top: 2px;
    border-radius: 2rem;
}