
@import '../../index.css';

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--old-lace);
    padding: 3rem 5rem;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.image {
    border-radius: 3rem;
    object-fit: cover;
    height: 15rem;
    width: 25%;
}

.artile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section {
    display: flex;
    gap: 1rem;
}

.section span {
  border-radius: 2rem;
  border: 1px solid var(--forest-green);
  color: var(--forest-green);
  background: var(--chinese-white);
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  margin: 0.5rem 0 0;
}

.section span:hover,
.section .activeView {
  color: var(--forest-green);
  background: var(--Aquamarine);
  border: 1px solid var(--forest-green);
}

.des {
    width: 80%;
    background-color: var(--honeydew1);
    color: var(--forest-green);
    border: 1px solid var(--forest-green);
    padding: 0.5rem;
}

.ori {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.oriTag {
    background-color: var(--chinese-white);
    color: var(--forest-green);
    padding: 0.5rem;
    text-transform: capitalize;
    cursor: default;
}

.evaluation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.fav {
    color: var(--UFO-green);
}

.price {
    font-size: 1.8rem;
    margin-left: 0;
    color: green;
}

.price::before {
    content: 'Giá: ';
    color: var(--UFO-green);
}

.addToCart {
    width: 10rem;
    border: none;
    border-radius: 2rem;
    padding: 0.15rem;
    color: var(--forest-green);
    background-color: var(--forest-green);
}

.cartbtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: var(--pale-green);
    padding: 4px;
    border: none;
    border-radius: 1rem;
}

.cartbtn:hover {
    position: relative;
    transform: scale(0.95);
    transition: 500ms;
    border-radius: 2rem;
}

.click {
    background-color: var(--Aquamarine);
}

.view {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.name {
    text-transform: capitalize;
    font-size: 1.4rem;
    margin: 1rem 0;
    color: green;
}