@import '../../index.css';

.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--light-green);
  border-radius: 5px;
  background-color: var(--chinese-white);
}

.searchInput {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  color: var(--forest-green);
  background-color: transparent;
}

.searchInput::placeholder {
  color: var(--forest-green);
  opacity: 0.5;
}

.searchIcon {
  cursor: pointer;
  position: relative;
  top: 0.15rem;
  right: 0.2rem;
  border-radius: 50%;
  color: var(--forest-green);
  background-color: var(--light-green);
  border: 1px solid var(--forest-green);
}

.searchIcon:hover {
  color: var(--forest-green);
  background-color: var(--menthol);
  border: 1px solid var(--forest-green);
}
