
@import '../../index.css';

.container {
    display: flex;
    margin: 0 4rem;
}

.detail form{
    display: flex;
    gap: 2rem;
}

.basic {
    width: 28rem;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--forest-green);
    margin: 1rem 0;
}

.login a {
    color: var(--UFO-green);
}

.login a:hover {
    color: var(--patone-green);
}